<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PDF CatalogX</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> 
</head>
<body>

    {{{body}}}

</body>
</html>
